@charset "UTF-8";
/*
 * ========================
 * BASE
 * ========================
 */
html,
body {
  height: 100%;
}

body {
  font: 400 16px/1 "Lato", sans-serif;
  color: #191919;
  background-color: #ffffff;
  overflow-x: hidden;
  min-width: 320px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  line-height: 24px;
}

a {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: none;
  overflow: hidden;
  color: #c13e21;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #c13e21;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

a:hover::after {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

a:focus,
button:focus,
img:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.input {
  display: inline-block;
  height: 48px;
  padding-left: 20px;
  border: none;
  border-bottom: 1px solid transparent;
  font: 400 16px/48px "Lato", sans-serif;
  color: #787878;
  background-color: #ffffff;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.input:focus {
  border-bottom-color: #c13e21;
}

.input::-webkit-input-placeholder {
  font: 300 15px/48px "Lato", sans-serif;
  color: #787878;
}

.input:-moz-placeholder {
  font: 300 15px/48px "Lato", sans-serif;
  color: #787878;
}

.input::-moz-placeholder {
  font: 300 15px/48px "Lato", sans-serif;
  color: #787878;
}

.input:-ms-input-placeholder {
  font: 300 15px/48px "Lato", sans-serif;
  color: #787878;
}

.textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.textarea:focus {
  border-bottom-color: #c13e21;
}

.textarea::-webkit-input-placeholder {
  font: 300 15px/1.6em "Lato", sans-serif;
  font-color: #787878;
}

.textarea:-moz-placeholder {
  font: 300 15px/1.6em "Lato", sans-serif;
  font-color: #787878;
}

.textarea::-moz-placeholder {
  font: 300 15px/1.6em "Lato", sans-serif;
  font-color: #787878;
}

.textarea:-ms-input-placeholder {
  font: 300 15px/1.6em "Lato", sans-serif;
  font-color: #787878;
}

.select {
  height: 48px;
  padding-left: 20px;
  border: none;
  font: 300 15px/48px "Lato", sans-serif;
  color: #787878;
  background-color: #ffffff;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.scroll-hidden {
  overflow: hidden;
  padding-right: 17px;
}

.headline {
  font: 700 30px/1 "Rubik", sans-serif;
  text-align: center;
  color: #191919;
}

/*
 * ========================
 * GRID
 * ========================
 */
.grid {
  max-width: 1170px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (max-width: 1200px) {
  .grid {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .grid {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .grid {
    max-width: 100%;
  }
}

/*
 * ========================
 * PROMO
 * ========================
 */
.promo {
  padding: 0 12px;
}

.promo__slider-dots {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.promo__slider-dots li {
  display: inline-block;
}

.promo__slider-dots li:hover:not(.slick-active) button {
  cursor: pointer;
  opacity: .5;
}

.promo__slider-dots li:not(:last-child) {
  margin-right: 9px;
}

.promo__slider-dots li.slick-active button {
  background-color: #c35941;
}

.promo__slider-dots li button {
  width: 11px;
  height: 11px;
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #cbcbcb;
  overflow: hidden;
  text-indent: 999px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.promo__slide {
  position: relative;
  height: 575px;
  background-color: #0d0d0d;
  outline: none;
}

.promo__slide::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: right 40px center;
  background-repeat: no-repeat;
}

.promo__slide--first::before {
  background-image: url("../img/promo-bg-1.png");
}

.promo__slide--second::before {
  background-image: url("../img/promo-bg-1.png");
      /*отражение картинки по горизонтали для презентации*/
  background-position: left 40px center;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.promo__slide .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.promo__info {
  max-width: 485px;
}

.promo__info-title {
  margin-bottom: 30px;
  font: 700 38px/1 "Rubik", sans-serif;
  letter-spacing: .38px;
  color: #ffffff;
}

.promo__info-descr {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #cbcbcb;
}

@media (max-width: 1200px) {
  .promo__slide::before {
    opacity: .4;
  }
}

@media (max-width: 540px) {
  .promo {
    padding: 0;
  }

  .promo__slider-dots {
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  .promo__slide {
    height: 500px;
  }

  .promo__info {
    text-align: center;
  }

  .promo__info-title {
    font-size: 30px;
    line-height: 1.2em;
  }
}

@media (min-width: 992px) {
  .promo__slide .grid {
    max-width: 100%;
    padding-left: 268px;
  }
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  border: none;
  padding: 0 24px;
  overflow: hidden;
  background-color: #c13e21;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: black;
  background: #ffffff;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn:hover::before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.btn span {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.btn:hover span {
  color: #c13e21;
}

/*
 * ========================
 * ABOUT
 * ========================
 */
.about {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}

.about__descr {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  color: black;
}

@media (max-width: 540px) {
  .about {
    padding: 50px 0;
  }

  .about__descr {
    margin: 35px 0;
  }
}

/*
 * ========================
 * CARD-PLUS
 * ========================
 */
.card-plus {
  text-align: center;
  color: #000000;
}

.card-plus__icon {
  min-height: 41px;
  margin-bottom: 22px;
}

.card-plus__count {
  margin-bottom: 15px;
  font: 700 18px/1 "Rubik", sans-serif;
}

.card-plus__text {
  font-weight: 100;
}

/*
 * ========================
 * ADVANTAGE
 * ========================
 */
.advantage {
  position: relative;
  padding: 60px 0;
}

.advantage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #f5f5f5;
}

.advantage__list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .advantage {
    padding-bottom: 0;
  }

  .advantage .card-plus {
    width: 50%;
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .advantage__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .advantage .card-plus {
    width: 100%;
    margin-bottom: 50px;
  }
}

/*
 * ========================
 * CARD-SERVICE
 * ========================
 */
.card-service {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 370px;
  height: 250px;
  padding: 20px;
  overflow: hidden;
}

.card-service:hover .card-service__title {
  -webkit-transform: translateY(-125px);
  -ms-transform: translateY(-125px);
  transform: translateY(-125px);
}

.card-service:hover .card-service__link {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card-service--family {
  background-color: #f3f0e8;
}

.card-service--consumer {
  background-color: #e8f3ec;
}

.card-service--build {
  background-color: #e8edf3;
}

.card-service__title {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: .24px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  min-height: 85px;
}

.card-service__link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: 300;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

@media (max-width: 1200px) {
  .card-service__title {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .card-service {
    margin: auto;
  }
}

/*
 * ========================
 * SERVICE
 * ========================
 */
.service {
  padding: 70px 0;
}

.service .headline {
  text-align: left;
}

.service__slider {
  padding-top: 60px;
}

.service__slider-arrow {
  position: absolute;
  top: -28px;
  width: 52px;
  height: 52px;
  padding: 0;
  border: none;
  background: #f5f5f5 url("../img/icons/i-arrow.png") no-repeat center;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.service__slider-arrow:hover {
  cursor: pointer;
  background-color: #c13e21;
}

.service__slider-arrow--prev {
  right: 60px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.service__slider-arrow--next {
  right: 0;
}

@media (max-width: 1200px) {
  .service__slider {
    margin: 0 -5px;
  }

  .service__slide {
    margin: 0 5px;
  }
}

@media (max-width: 768px) {
  .service__slider {
    padding-top: 100px;
  }

  .service__slider-arrow {
    top: 15px;
  }

  .service__slider-arrow--prev {
    right: auto;
    left: 0;
  }

  .service__slider-arrow--next {
    right: auto;
    left: 60px;
  }
}

/*
 * ========================
 * BID
 * ========================
 */
.bid {
  padding: 100px 0;
  background-color: #f5f5f5;
}

.bid__descr {
  max-width: 370px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 45px;
  font-weight: 300;
  text-align: center;
}

.bid__form {
  max-width: 670px;
  margin: auto;
}

.bid__input {
  width: calc(50% - 15px);
  margin-bottom: 30px;
}

.bid__input:first-of-type {
  margin-right: 26px;
}

.bid__select {
  width: 100%;
  margin-bottom: 30px;
}

.bid__textarea {
  height: 170px;
  margin-bottom: 30px;
}

.bid__box {
  text-align: center;
}

@media (max-width: 540px) {
  .bid {
    padding: 50px 0;
  }
}

/*
 * ========================
 * CONTACTS
 * ========================
 */
.contacts {
  padding-top: 50px;
  padding-bottom: 60px;
}

.contacts__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts__recall {
  width: calc(50% - 15px);
  margin-right: 30px;
}

.contacts__recall-slider {
  height: 500px;
  background-color: #000000;
}

.contacts__recall-slider-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.contacts__recall-slider-dots li {
  display: inline-block;
}

.contacts__recall-slider-dots li:hover:not(.slick-active) button {
  cursor: pointer;
  opacity: .5;
}

.contacts__recall-slider-dots li:not(:last-child) {
  margin-right: 9px;
}

.contacts__recall-slider-dots li.slick-active button {
  padding: 5px;
  margin-top: -2px;
  background-color: #c35941;
}

.contacts__recall-slider-dots li button {
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  overflow: hidden;
  text-indent: 999px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.contacts__recall-slide {
  outline: none;
  padding: 74px 25px;
}

.contacts__recall-text {
  min-height: 300px;
  margin-bottom: 10px;
  font: 300 20px/30px "Lato", sans-serif;
  text-align: center;
  color: #ffffff;
}

.contacts__recall-author {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.contacts__map {
  position: relative;
  width: calc(50% - 15px);
  height: 500px;
  background: url("../img/map.png") no-repeat center/cover;
}

.contacts__map-btn {
  position: absolute;
  left: 25px;
  bottom: 30px;
  background-color: black;
  color: #ffffff;
  text-transform: uppercase;
}

.contacts__map-btn:hover span {
  color: #ffffff;
}

.contacts__map-btn::before {
  background-color: #c13e21;
}

@media (max-width: 1200px) {
  .contacts__recall-text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 992px) {
  .contacts__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contacts__recall, .contacts__map {
    width: 100%;
    margin-right: 0;
  }

  .contacts__recall {
    margin-bottom: 50px;
  }

  .contacts__recall-slider {
    height: auto;
  }

  .contacts__recall-text {
    min-height: auto;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .contacts__map {
    height: 300px;
  }
}

/*
 * ========================
 * CASE
 * ========================
 */
.case {
  padding-bottom: 115px;
}

.case .headline {
  text-align: left;
}

.case__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 10px;
}

.case__card {
  max-width: 320px;
  margin-top: 50px;
}

.case__card-title {
  margin-bottom: 50px;
  font: 300 20px/30px "Lato", sans-serif;
  color: #191919;
  text-transform: uppercase;
}

.case__card-link {
  font-size: 18px;
  font-weight: 300;
}

@media (max-width: 992px) {
  .case__card-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .case {
    padding-bottom: 60px;
  }
}

/*
 * ========================
 * FOOTER
 * ========================
 */
.footer {
  position: relative;
  padding-top: 70px;
  padding-bottom: 80px;
  color: #ffffff;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #141414;
}

.footer a {
  padding-bottom: 0;
  color: inherit;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.footer a:hover {
  color: #c13e21;
}

.footer a::after {
  display: none;
}

.footer__grid {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__col:first-child, .footer__col:nth-child(3) {
  margin-right: auto;
}

.footer__logo {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.footer__copyright {
  font-size: 15px;
  font-weight: 300;
  color: #cecece;
}

.footer__subtitle {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #cfcfcf;
}

.footer__email {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 300;
}

.footer__tel {
  display: block;
  font-weight: 300;
}

.footer__tel + .footer__tel {
  margin-top: 10px;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 110px;
}

.footer__nav-item {
  display: inline-block;
}

.footer__nav-item + .footer__nav-item {
  margin-top: 10px;
}

.footer__social-item + .footer__social-item {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer__grid {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer__col:first-child, .footer__col:nth-child(3) {
    margin-right: 0;
  }

  .footer__nav {
    margin-left: 0;
  }
}

@media (max-width: 620px) {
  .footer {
    padding: 50px 30px;
  }

  .footer__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 10px;
  }

  .footer__copyright {
    margin-bottom: 30px;
  }

  .footer__nav {
    display: none;
  }

  .footer__social {
    margin-top: 30px;
  }
}

@media (max-width: 540px) {
  .footer {
    padding: 50px 0;
  }

  .footer::before {
    left: 0;
    width: 100%;
  }
}

/*
 * ========================
 * HEADER
 * ========================
 */
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px;
  background-color: #ffffff;
}

.header__logo {
  padding-bottom: 0;
}

.header__logo::after {
  display: none;
}

.header__switch {
  display: none;
}

.header__list {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: calc(100% - 260px);
  margin-left: auto;
}

.header__nav {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
}

.header__nav-item {
  color: #0d0d0d;
  font-size: 18px;
  line-height: 24px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__nav-item::after {
  display: none;
}

.header__nav-item:hover {
  color: #c13e21;
}

.header__nav-item:not(:last-child) {
  margin-right: 20px;
}

.header__nav-item--active {
  color: #c13e21;
  border-bottom: 1px solid #c13e21;
}

.header__contacts {
  text-align: right;
}

.header__contacts-tel {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #0d0d0d;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__contacts-tel:hover {
  opacity: .6;
}

.header__contacts-tel:after {
  display: none;
}

.header__contacts-tel span {
  vertical-align: bottom;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 992px) {
  .header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo img {
    height: 60px;
  }

  .header__list {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 10;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }

  .header__list--open {
    visibility: visible;
    opacity: 1;
  }

  .header__nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__nav-item {
    color: #ffffff;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
    padding-bottom: 15px;
  }

  .header__contacts {
    padding-top: 30px;
    text-align: center;
  }

  .header__contacts-tel {
    color: #ffffff;
  }

  .header__switch {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    overflow: hidden;
    cursor: pointer;
    z-index: 11;
  }

  .header__switch span {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #000000;
    background: #c13e21;
  }

  .header__switch span::before, .header__switch span::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    background-color: #c13e21;
    -webkit-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
  }

  .header__switch span::before {
    top: -8px;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, -webkit-transform;
    -o-transition-property: top, transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
  }

  .header__switch span::after {
    bottom: -8px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    -o-transition-property: bottom, transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
  }

  .header__switch--open span {
    background: none;
  }

  .header__switch--open span::before, .header__switch--open span::after {
    -webkit-transition-delay: 0s, 0.3s;
    -o-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
    background-color: #ffffff;
  }

  .header__switch--open span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__switch--open span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/*
 * ========================
 * SINGLE PAGE
 * ========================
 */
.single {
  position: relative;
  padding: 40px 0;
}

.single .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.single .grid .headline {
  text-align: left;
}

.single__info, .single__praxis {
  width: calc(50% - 15px);
}

.single__info {
  margin-right: 30px;
}

.single__info > p {
  margin-top: 30px;
  font-weight: 300;
  color: #787878;
}

.single__info-plus {
  margin-top: 55px;
}

.single__info-plus p {
  color: #171717;
}

.single__info-plus p:not(:first-child) {
  margin-top: 10px;
}

.single__info-plus span {
  display: inline-block;
  padding-left: 5px;
  color: #787878;
  font-weight: 300;
}

.single__praxis {
  padding: 35px;
  background-color: #e6e6e6;
}

.single__praxis .headline {
  margin-bottom: 50px;
}

.single__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 45px;
}

.single__nav-icon {
  width: 6px;
  height: 9px;
  margin-right: 15px;
  overflow: hidden;
}

.single__nav-item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #828282;
  font-weight: 300;
  line-height: 18px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.single__nav-item:hover {
  opacity: .6;
}

.single__nav-item::after {
  display: none;
}

.single__nav-item--prev .single__nav-icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.single__nav-item--all {
  margin: 0 auto;
}

.single__nav-item--all .single__nav-icon {
  width: 16px;
  height: 16px;
}

.single__nav-item--next {
  text-align: right;
}

.single__nav-item--next .single__nav-icon {
  margin-right: 0;
  margin-left: 15px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media (max-width: 992px) {
  .single__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .single__info, .single__praxis {
    width: 100%;
  }

  .single__info {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .single__nav-item {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .single__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .single__nav-item {
    text-align: center;
  }

  .single__nav-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .single__nav-item--all {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}

.accordion__item:not(:last-child) {
  margin-bottom: 20px;
}

.accordion__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.accordion__header:hover {
  opacity: .6;
}

.accordion__title {
  width: calc(100% - 30px);
  font-weight: 700;
  line-height: 1.2em;
  color: #000000;
}

.accordion__title:hover {
  cursor: pointer;
}

.accordion__icon {
  width: 22px;
  margin-top: 5px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.accordion__icon:hover {
  cursor: pointer;
}

.accordion__icon--open {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion__body {
  display: none;
  padding-top: 35px;
  padding-bottom: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #828282;
}
