/*
 * ========================
 * BASE
 * ========================
 */
html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.6rem/1 "Fira Sans", sans-serif;
  color: #252525;
  background-color: #ffffff;
  overflow-x: hidden;
  min-width: 320px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
img:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.input {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 25px;
  margin: auto;
  border: none;
  border-bottom: 1px solid rgba(41, 41, 40, 0.1);
  line-height: 2.5rem;
  text-align: center;
  background-color: rgba(41, 41, 40, 0.03);
}

.input:focus {
  border-bottom-color: #ffb700;
}

.input + .input {
  margin-top: 20px;
}

.input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #252525;
}

.input:-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #252525;
}

.input::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #252525;
}

.input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #252525;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

textarea::-webkit-input-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

textarea:-moz-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

textarea::-moz-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.scroll-hidden {
  overflow: hidden;
  padding-right: 17px;
}

/*
 * ========================
 * GRID
 * ========================
 */
.grid {
  max-width: 1170px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (max-width: 1200px) {
  .grid {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .grid {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .grid {
    max-width: 100%;
  }
}

.header {
  background: red;
}
