@charset "UTF-8";
/*
 * ========================
 * BASE
 * ========================
 */
html,
body {
  height: 100%;
}

body {
  font: 400 16px/1 "Lato", sans-serif;
  color: #191919;
  background-color: #ffffff;
  overflow-x: hidden;
  min-width: 320px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  line-height: 24px;
}

a {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: none;
  overflow: hidden;
  color: #c13e21;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #c13e21;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

a:hover::after {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

a:focus,
button:focus,
img:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.input {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 25px;
  margin: auto;
  border: none;
  border-bottom: 1px solid rgba(41, 41, 40, 0.1);
  line-height: 2.5rem;
  text-align: center;
  background-color: rgba(41, 41, 40, 0.03);
}

.input:focus {
  border-bottom-color: #c13e21;
}

.input + .input {
  margin-top: 20px;
}

.input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #191919;
}

.input:-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #191919;
}

.input::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #191919;
}

.input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: #191919;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

textarea::-webkit-input-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

textarea:-moz-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

textarea::-moz-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="email"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="email"]:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.scroll-hidden {
  overflow: hidden;
  padding-right: 17px;
}

.headline {
  font: 700 30px/1 "Rubik", sans-serif;
  text-align: center;
  color: #191919;
}

/*
 * ========================
 * GRID
 * ========================
 */
.grid {
  max-width: 1170px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (max-width: 1200px) {
  .grid {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .grid {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .grid {
    max-width: 100%;
  }
}

/*
 * ========================
 * PROMO
 * ========================
 */
.promo {
  padding: 0 12px;
}

.promo__slider-dots {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.promo__slider-dots li {
  display: inline-block;
}

.promo__slider-dots li:hover:not(.slick-active) button {
  cursor: pointer;
  opacity: .5;
}

.promo__slider-dots li:not(:last-child) {
  margin-right: 9px;
}

.promo__slider-dots li.slick-active button {
  background-color: #c35941;
}

.promo__slider-dots li button {
  width: 11px;
  height: 11px;
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #cbcbcb;
  overflow: hidden;
  text-indent: 999px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.promo__slide {
  position: relative;
  height: 575px;
  background-color: #0d0d0d;
  outline: none;
}

.promo__slide::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: right 40px center;
  background-repeat: no-repeat;
}

.promo__slide--first::before {
  background-image: url("../img/promo-bg-1.png");
}

.promo__slide--second::before {
  background-image: url("../img/promo-bg-1.png");
      /*отражение картинки по горизонтали для презентации*/
  background-position: left 40px center;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.promo__slide .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.promo__info {
  max-width: 485px;
}

.promo__info-title {
  margin-bottom: 30px;
  font: 700 38px/1 "Rubik", sans-serif;
  letter-spacing: .38px;
  color: #ffffff;
}

.promo__info-descr {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #cbcbcb;
}

@media (max-width: 1200px) {
  .promo__slide::before {
    opacity: .4;
  }
}

@media (max-width: 540px) {
  .promo__slider-dots {
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  .promo__slide {
    height: 500px;
  }

  .promo__info {
    text-align: center;
  }
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  border: none;
  padding: 0 24px;
  overflow: hidden;
  background-color: #c13e21;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: black;
  background: #ffffff;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn:hover::before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.btn span {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.btn:hover span {
  color: #c13e21;
}

/*
 * ========================
 * BASE
 * ========================
 */
.about {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}

.about__descr {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  color: black;
}

@media (max-width: 540px) {
  .about {
    padding: 50px 0;
  }

  .about__descr {
    margin: 35px 0;
  }
}

/*
 * ========================
 * CARD-PLUS
 * ========================
 */
.card-plus {
  text-align: center;
  color: #000000;
}

.card-plus__icon {
  min-height: 41px;
  margin-bottom: 22px;
}

.card-plus__count {
  margin-bottom: 15px;
  font: 700 18px/1 "Rubik", sans-serif;
}

.card-plus__text {
  font-weight: 100;
}

/*
 * ========================
 * ADVANTAGE
 * ========================
 */
.advantage {
  position: relative;
  padding: 60px 0;
}

.advantage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #f5f5f5;
}

.advantage__list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .advantage {
    padding-bottom: 0;
  }

  .advantage .card-plus {
    width: 50%;
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .advantage__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .advantage .card-plus {
    width: 100%;
    margin-bottom: 50px;
  }
}
